<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">-->
<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CapitalEyes | Banking, Visualized</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,600italic,300italic' rel='stylesheet' type='text/css'>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="/js/api.js"></script> -->
<script src="/js/load_page.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/fullcalendar.css' />
<script src='/js/moment.min.js'></script>
<script src='/js/fullcalendar.js'></script>
<script src="/js/smooth-scroll.js"></script>
<link href="/stylesheets/css.css" rel="stylesheet">
<script>
var balance = 0;
login();
</script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/logo.png" class="logo"/>CapitalEyes</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a data-scroll href="#transactionList">Transaction History</a></li>
        <li><a data-scroll href="#calendar">Calendar</a></li>
        <li><a data-scroll href="#" onClick="test()">Monthly View</a></li>
        <li><a data-scroll href="#">Charts</a></li>
        <li><a data-scroll href="#">Budgets</a></li>
        <li><a data-scroll href="#">Badges</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="transactionList">
  <div class="panel panel-default">
    <div class="panel-heading">Transaction History<span class="trans_explanation">see your transaction history in a simple list layout, editable tags</span><span class="balance">Balance: <span class="balanceval"></span></span></div>
    <div id="transactions"></div>
  </div>
</div>



<div id="calendar">
</div>

<div id="circleInterface">
</div>

<div id="graph">
</div>

<div id="budget-setter">
  <div id="budget-label">
    <label for="amount1">Monthly Food Budget:</label>
    <input type="text" id="amount1" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </div>
  <div id="slider1">
  </div>

  <div id="budget-label">
    <label for="amount2">Monthly Utilities Budget:</label>
    <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </div>
  <div id="slider2">
  </div>

  <div id="budget-label">
    <label for="amount3">Monthly Travel Budget:</label>
    <input type="text" id="amount3" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </div>
  <div id="slider3">
  </div>

  <div id="budget-label">
    <label for="amount4">Monthly Entertainment Budget:</label>
    <input type="text" id="amount4" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </div>
  <div id="slider4">
  </div>
</div>

<div id="budget-display">
  <div id="budget-display-label1">Food</div>
  $249 spent
  <div id="progress1"></div>

  <div id="budget-display-label2">Utilities</div>
  $185 spent
  <div id="progress2"></div>

  <div id="budget-display-label3">Travel</div>
  $138 spent
  <div id="progress3"></div>

  <div id="budget-display-label4">Entertainment</div>
  $49 spent
  <div id="progress4"></div>
</div>

</div id="badges">
</div>


<script>
  $(function() {
    $( "#slider1" ).slider({
      value:300,
      min: 0,
      max: 1000,
      step: 1,
      slide: function( event, ui ) {
        $( "#amount1" ).val( "$" + ui.value );
      }
    });
    $( "#amount1" ).val( "$" + $( "#slider1" ).slider( "value" ) );
  });
</script>

<script>
  $(function() {
    $( "#slider2" ).slider({
      value:500,
      min: 0,
      max: 1000,
      step: 1,
      slide: function( event, ui ) {
        $( "#amount2" ).val( "$" + ui.value );
      }
    });
    $( "#amount2" ).val( "$" + $( "#slider2" ).slider( "value" ) );
  });
</script>

<script>
  $(function() {
    $( "#slider3" ).slider({
      value:200,
      min: 0,
      max: 1000,
      step: 1,
      slide: function( event, ui ) {
        $( "#amount3" ).val( "$" + ui.value );
      }
    });
    $( "#amount3" ).val( "$" + $( "#slider3" ).slider( "value" ) );
  });
</script>

<script>
  $(function() {
    $( "#slider4" ).slider({
      value:150,
      min: 0,
      max: 1000,
      step: 1,
      slide: function( event, ui ) {
        $( "#amount4" ).val( "$" + ui.value );
      }
    });
    $( "#amount4" ).val( "$" + $( "#slider4" ).slider( "value" ) );
  });
</script>


<script>
  $(function() {
    $( "#progress1" ).progressbar({
      value: 83
    });
  });
 </script>

<script>
  $(function() {
    $( "#progress2" ).progressbar({
      value: 37
    });
  });
</script>

<script>
  $(function() {
    $( "#progress3" ).progressbar({
      value: 69
    });
  });
</script>

<script>
  $(function() {
    $( "#progress4" ).progressbar({
      value: 46
    });
  });
</script>



<script>
  smoothScroll.init({
    selector: '[data-scroll]', // Selector for links (must be a valid CSS selector)
    selectorHeader: '[data-scroll-header]', // Selector for fixed headers (must be a valid CSS selector)
    speed: 1000, // Integer. How fast to complete the scroll in milliseconds
    easing: 'easeInOutCubic', // Easing pattern to use
    updateURL: true, // Boolean. Whether or not to update the URL with the anchor hash on scroll
    offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
    callback: function ( toggle, anchor ) {} // Function to run after scrolling
  });
</script>

</body>